Language: Cpp
BasedOnStyle: llvm
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveDeclarations: AcrossComments
AlignConsecutiveMacros: AcrossComments
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
BitFieldColonSpacing: Both
BreakBeforeBraces: Attach
ColumnLimit: 81
MaxEmptyLinesToKeep: 1
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
InsertNewlineAtEOF: true
TabWidth: 2
IndentWidth: 2
IndentCaseLabels: true
UseTab: Always
