[submodule "subprojects/qcbor"]
	path = subprojects/qcbor
	url = https://github.com/laurencelundblade/QCBOR.git

[submodule "subprojects/lufa"]
	path = subprojects/lufa
	url = https://github.com/nic-starke/lufa.git

